---
layout: default
---
<div class="container">
    <div class="row">
        <div>
            A szenzorok nem hitelesített és nem hivatalos mérőpontok. Az itt közzétett adatok miatt nem terhelhet
            senkit felelősség.
        </div>
    </div>
    <h5 class="center-align">
        Előző órák mozgóátlaga
    </h5>
    <div class="row center-align">
        <div class="col s12 m4">
            <div class="card indigo small lighten-3">
                <div class="card-content">
                    <span class="card-title">T-1h</span>
                    <div>
                        <div class="row center-align">
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM25</p>
                                <h5 id="pm25_1h_avg_1" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                            <div class="col s1"></div>
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM10</p>
                                <h5 id="1h_avg_1" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div>µg/m³</div>

                    <div class="row center-align">
                        <div class="col s6">
                            <div>
                                <span id="pm25_1h_avg_1_direction">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                </span>
                                <span id="pm25_1h_avg_1_changepercent"></span>
                            </div>
                            <div>
                            <span id="pm25_1h_avg_1_end" class="no-wrap">
                            </span> -
                                <span id="pm25_1h_avg_1_start" class="no-wrap">
                            </span>
                            </div>
                            <p>pontok: <span id="pm25_1h_avg_1_points" class="no-wrap"></span></p>
                        </div>
                        <div class="col s6">
                            <div>
                                <span id="1h_avg_1_direction">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                </span>
                                <span id="1h_avg_1_changepercent"></span>
                            </div>
                            <span id="1h_avg_1_end" class="no-wrap">
                            </span> -
                            <span id="1h_avg_1_start" class="no-wrap">
                            </span>
                            <p>pontok: <span id="1h_avg_1_points" class="no-wrap"></span></p>
                        </div>
                    </div>
                    <div>Elmúlt egy óra átlaga</div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card indigo small lighten-3">
                <div class="card-content">
                    <span class="card-title">T-2h</span>
                    <div>
                        <div class="row center-align">
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM25</p>
                                <h5 id="pm25_1h_avg_2" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                            <div class="col s1"></div>
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM10</p>
                                <h5 id="1h_avg_2" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div>µg/m³</div>

                    <div class="row center-align">
                        <div class="col s6">
                            <div>
                                <span id="pm25_1h_avg_2_direction">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                </span>
                                <span id="pm25_1h_avg_2_changepercent"></span>
                            </div>
                            <div>
                            <span id="pm25_1h_avg_2_end" class="no-wrap">
                            </span> -
                                <span id="pm25_1h_avg_2_start" class="no-wrap">
                            </span>
                            </div>
                            <p>pontok: <span id="pm25_1h_avg_2_points" class="no-wrap"></span></p>
                        </div>
                        <div class="col s6">
                            <div>
                                <span id="1h_avg_2_direction">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                </span>
                                <span id="1h_avg_2_changepercent"></span>
                            </div>
                            <span id="1h_avg_2_end" class="no-wrap">
                            </span> -
                            <span id="1h_avg_2_start" class="no-wrap">
                            </span>
                            <p>pontok: <span id="1h_avg_2_points" class="no-wrap"></span></p>
                        </div>
                    </div>
                    <div>Egy órával ezelőtt mért óra átlaga</div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card indigo small lighten-3">
                <div class="card-content">
                    <span class="card-title">T-3h</span>
                    <div>
                        <div class="row center-align">
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM25</p>
                                <h5 id="pm25_1h_avg_3" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                            <div class="col s1"></div>
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM10</p>
                                <h5 id="1h_avg_3" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div>µg/m³</div>

                    <div class="row center-align">
                        <div class="col s6">
                            <div>
                            <span id="pm25_1h_avg_3_end" class="no-wrap">
                            </span> -
                                <span id="pm25_1h_avg_3_start" class="no-wrap">
                            </span>
                            </div>
                            <p>pontok: <span id="pm25_1h_avg_3_points" class="no-wrap"></span></p>
                        </div>
                        <div class="col s6">
                            <span id="1h_avg_3_end" class="no-wrap">
                            </span> -
                            <span id="1h_avg_3_start" class="no-wrap">
                            </span>
                            <p>pontok: <span id="1h_avg_3_points" class="no-wrap"></span></p>
                        </div>
                    </div>
                    <div>Két órával ezelőtt mért óra átlaga</div>
                </div>
            </div>
        </div>
    </div>

    <h5 class="center-align">
        Előző 24 órák mozgóátlaga
    </h5>
    <div class="row center-align">
        <div class="col s12 m4">
            <div class="card indigo small lighten-3">
                <div class="card-content">
                    <span class="card-title">T-24h</span>
                    <div>
                        <div class="row center-align">
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM25</p>
                                <h5 id="pm25_24h_avg_24" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                            <div class="col s1"></div>
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM10</p>
                                <h5 id="24h_avg_24" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div>µg/m³</div>

                    <div class="row center-align">
                        <div class="col s6">
                            <div>
                                <span id="pm25_24h_avg_24_direction">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                </span>
                                <span id="pm25_24h_avg_24_changepercent"></span>
                            </div>
                            <div>
                            <span id="pm25_24h_avg_24_end" class="no-wrap">
                            </span> -
                                <span id="pm25_24h_avg_24_start" class="no-wrap">
                            </span>
                            </div>
                            <p>pontok: <span id="pm25_24h_avg_24_points" class="no-wrap"></span></p>
                        </div>
                        <div class="col s6">
                            <div>
                                <span id="24h_avg_24_direction">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                </span>
                                <span id="24h_avg_24_changepercent"></span>
                            </div>
                            <span id="24h_avg_24_end" class="no-wrap">
                            </span> -
                            <span id="24h_avg_24_start" class="no-wrap">
                            </span>
                            <p>pontok: <span id="24h_avg_24_points" class="no-wrap"></span></p>
                        </div>
                    </div>
                    <div>Ma mért 24 óra átlaga</div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card indigo small lighten-3">
                <div class="card-content">
                    <span class="card-title">T-48h</span>
                    <div>
                        <div class="row center-align">
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM25</p>
                                <h5 id="pm25_24h_avg_48" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                            <div class="col s1"></div>
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM10</p>
                                <h5 id="24h_avg_48" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div>µg/m³</div>

                    <div class="row center-align">
                        <div class="col s6">
                            <div>
                                <span id="pm25_24h_avg_48_direction">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                </span>
                                <span id="pm25_24h_avg_48_changepercent"></span>
                            </div>
                            <div>
                            <span id="pm25_24h_avg_48_end" class="no-wrap">
                            </span> -
                                <span id="pm25_24h_avg_48_start" class="no-wrap">
                            </span>
                            </div>
                            <p>pontok: <span id="pm25_24h_avg_48_points" class="no-wrap"></span></p>
                        </div>
                        <div class="col s6">
                            <div>
                                <span id="24h_avg_48_direction">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                </span>
                                <span id="24h_avg_48_changepercent"></span>
                            </div>
                            <span id="24h_avg_48_end" class="no-wrap">
                            </span> -
                            <span id="24h_avg_48_start" class="no-wrap">
                            </span>
                            <p>pontok: <span id="24h_avg_48_points" class="no-wrap"></span></p>
                        </div>
                    </div>
                    <div>Tegnap mért 24 óra átlaga</div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card indigo small lighten-3">
                <div class="card-content">
                    <span class="card-title">T-72h</span>
                    <div>
                        <div class="row center-align">
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM25</p>
                                <h5 id="pm25_24h_avg_72" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                            <div class="col s1"></div>
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM10</p>
                                <h5 id="24h_avg_72" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div>µg/m³</div>

                    <div class="row center-align">
                        <div class="col s6">
                            <div>
                            <span id="pm25_24h_avg_72_end" class="no-wrap">
                            </span> -
                                <span id="pm25_24h_avg_72_start" class="no-wrap">
                            </span>
                            </div>
                            <p>pontok: <span id="pm25_24h_avg_72_points" class="no-wrap"></span></p>
                        </div>
                        <div class="col s6">
                            <span id="24h_avg_72_end" class="no-wrap">
                            </span> -
                            <span id="24h_avg_72_start" class="no-wrap">
                            </span>
                            <p>pontok: <span id="24h_avg_72_points" class="no-wrap"></span></p>
                        </div>
                    </div>
                    <div>Tegnapelőtt mért 24 óra átlaga</div>
                </div>
            </div>
        </div>
    </div>

    <h5 class="center-align">
        Előző teljes napok átlaga
    </h5>
    <div class="row center-align">
        <div class="col s12 m4">
            <div class="card indigo small lighten-3">
                <div class="card-content">
                    <span class="card-title">T-1d</span>
                    <div>
                        <div class="row center-align">
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM25</p>
                                <h5 id="pm25_24h_avg_yesterday" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                            <div class="col s1"></div>
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM10</p>
                                <h5 id="24h_avg_yesterday" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div>µg/m³</div>

                    <div class="row center-align">
                        <div class="col s6">
                            <div>
                                <span id="pm25_24h_avg_yesterday_direction">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                </span>
                                <span id="pm25_24h_avg_yesterday_changepercent"></span>
                            </div>
                            <div>
                            <span id="pm25_24h_avg_yesterday_end" class="no-wrap">
                            </span> -
                                <span id="pm25_24h_avg_yesterday_start" class="no-wrap">
                            </span>
                            </div>
                            <p>pontok: <span id="pm25_24h_avg_yesterday_points" class="no-wrap"></span></p>
                        </div>
                        <div class="col s6">
                            <div>
                                <span id="24h_avg_yesterday_direction">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                </span>
                                <span id="24h_avg_yesterday_changepercent"></span>
                            </div>
                            <span id="24h_avg_yesterday_end" class="no-wrap">
                            </span> -
                            <span id="24h_avg_yesterday_start" class="no-wrap">
                            </span>
                            <p>pontok: <span id="24h_avg_yesterday_points" class="no-wrap"></span></p>
                        </div>
                    </div>
                    <div>Tegnapi napon mért mennyiségek átlaga</div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card indigo small lighten-3">
                <div class="card-content">
                    <span class="card-title">T-2d</span>
                    <div>
                        <div class="row center-align">
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM25</p>
                                <h5 id="pm25_24h_avg_two_days_ago" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                            <div class="col s1"></div>
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM10</p>
                                <h5 id="24h_avg_two_days_ago" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div>µg/m³</div>

                    <div class="row center-align">
                        <div class="col s6">
                            <div>
                                <span id="pm25_24h_avg_two_days_ago_direction">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                </span>
                                <span id="pm25_24h_avg_two_days_ago_changepercent"></span>
                            </div>
                            <div>
                            <span id="pm25_24h_avg_two_days_ago_end" class="no-wrap">
                            </span> -
                                <span id="pm25_24h_avg_two_days_ago_start" class="no-wrap">
                            </span>
                            </div>
                            <p>pontok: <span id="pm25_24h_avg_two_days_ago_points" class="no-wrap"></span></p>
                        </div>
                        <div class="col s6">
                            <div>
                                <span id="24h_avg_two_days_ago_direction">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                </span>
                                <span id="24h_avg_two_days_ago_changepercent"></span>
                            </div>
                            <span id="24h_avg_two_days_ago_end" class="no-wrap">
                            </span> -
                            <span id="24h_avg_two_days_ago_start" class="no-wrap">
                            </span>
                            <p>pontok: <span id="24h_avg_two_days_ago_points" class="no-wrap"></span></p>
                        </div>
                    </div>
                    <div>Tegnapelőtt mért mennyiségek átlaga</div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card indigo small lighten-3">
                <div class="card-content">
                    <span class="card-title">T-3d</span>
                    <div>
                        <div class="row center-align">
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM25</p>
                                <h5 id="pm25_24h_avg_three_days_ago" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                            <div class="col s1"></div>
                            <div class="col s1"></div>
                            <div class="col s4">
                                <p>PM10</p>
                                <h5 id="24h_avg_three_days_ago" class="value">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div>µg/m³</div>

                    <div class="row center-align">
                        <div class="col s6">
                            <div>
                            <span id="pm25_24h_avg_three_days_ago_end" class="no-wrap">
                            </span> -
                                <span id="pm25_24h_avg_three_days_ago_start" class="no-wrap">
                            </span>
                            </div>
                            <p>pontok: <span id="pm25_24h_avg_three_days_ago_points" class="no-wrap"></span></p>
                        </div>
                        <div class="col s6">
                            <span id="24h_avg_three_days_ago_end" class="no-wrap">
                            </span> -
                            <span id="24h_avg_three_days_ago_start" class="no-wrap">
                            </span>
                            <p>pontok: <span id="24h_avg_three_days_ago_points" class="no-wrap"></span></p>
                        </div>
                    </div>
                    <div>Három nappal ezelőtt mért mennyiségek átlaga</div>
                </div>
            </div>
        </div>
    </div>


    <div class="divider"></div>
    <h5 class="center-align">
        Határértékek
    </h5>
    <div class="section">
        <p>
            <a href="https://www.nnk.gov.hu/index.php/kozegeszsegugyi-laboratoriumi-foosztaly/terkepes-informaciok/levegohigienes-index/694-a-levegohigienes-index-ismertetese">*
                A táblázat forrása a Nemzeti Népegészségügyi Központ honlapján</a></p>
        <table class="responsive-table">
            <tr>
                <td>Levegőhigiénés Index kategóriái</td>
                <td>Légszennyezők koncentrációja (μg/m3)</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>PM2.5
                    (24 óra)
                </td>
                <td>PM10
                    (24 óra)
                </td>
            </tr>
            <tr class="green accent-1">
                <td>elfogadható</td>
                <td><25</td>
                <td><50</td>
            </tr>
            <tr class="yellow accent-1">
                <td>kifogásolt</td>
                <td>25 - 37,5</td>
                <td>50 - 75</td>
            </tr>
            <tr class="orange accent-1">
                <td>egészségtelen</td>
                <td>37,5 - 50</td>
                <td>75 - 100</td>
            </tr>
            <tr class="red accent-1">
                <td>veszélyes</td>
                <td>≥50</td>
                <td>≥100</td>
            </tr>
        </table>

    </div>
    <div class="section">
        <h6 class="center-align">
            Hivatalos és hiteles mérőállomásokkal és rendeletekkel rendelkező önkormányzatoknál a következő szabályok
            élnek a szálló por koncentráció tekintetében.
        </h6>
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-content yellow lighten-3">
                        <span class="card-title">Egészségügyi határérték</span>
                    </div>
                    <div class="card-content">
                        <p>50 µg/m³</p>
                        <div class="divider my-1"></div>
                        <p>
                            tartós egészségkárosodást nem okoz, és amelyet az emberi egészség védelme érdekében a
                            jogszabályban meghatározott módon és időn belül be kell tartani. Elérése és túllépése
                            veszélyes
                            légszennyezettséget eredményez.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card ">
                    <div class="card-content red">
                        <span class="card-title">Tájékoztatási küszöb</span>
                    </div>
                    <div class="card-content">
                        <p>75 µg/m³</p>
                        <p>két egymást követő napon (T-24h és T-48h)</p>
                        <div class="divider my-1"></div>
                        <p>a légszennyezettségnek egyes légszennyező anyagok tekintetében a lakosság egyes érzékeny
                            (gyermek, időskorú, beteg) csoportjaira megállapított szintje, amelynek túllépése esetén a
                            lakosságot az illetékes önkormányzatnak tájékoztatni kell. Elérése és túllépése enyhébb
                            intézkedéseket jelentő, tájékoztatási fokozatú szmog-helyzetet eredményez.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-content black white-text">
                        <span class="card-title">Riasztási küszöb</span>
                    </div>
                    <div class="card-content">
                        <p>100 µg/m³</p>
                        <p>két egymást követő napon (T-24h és T-48h) és az <a href="https://www.met.hu">OMSZ</a> szerint
                            a
                            következő napon javulás nem várható</p>
                        <div class="divider my-1"></div>
                        <p>
                            a légszennyezettség azon szintje, amelynek rövid idejű túllépése is veszélyeztetheti az
                            emberi
                            egészséget. Elérése és túllépése forgalomkorlátozással járó intézkedéseket jelentő,
                            riasztási
                            fokozatú szmoghelyzetet eredményez.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>

    <h5 class="center-align">
        Levegőminőség szenzorokból álló nemzetközi civil mérőhálózat térképe (<a href="https://sensor.community">sensor.community</a>)
    </h5>

    <div class="row">
        <div class="col s12 center-align">
            <a href="https://martonvasar.maps.sensor.community/#11/47.3159/18.7906">Váltás teljes nagyítható
                térképre</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {% include map.html %}
        </div>
    </div>
    <div class="section">
        <h5 class="center-align">
            PM10 és PM2.5 szálló por koncentráció
        </h5>
        {% include buttons.html %}
    </div> <!-- end pricing-tables -->

    <div class="divider"></div>
    <h5 class="center-align">
        Területi összevetés
    </h5>
    <div class="section">
        <div class="row">
            <div class="col s12 m6">
                <div class="chartContainer" id="graphAverage-all-10">&nbsp;</div>
            </div>
            <div class="col s12 m6">
                <div class="chartContainer" id="graphAverage-all-25">&nbsp;</div>
            </div>
        </div>
    </div>

    <div class="divider"></div>
    <h5 class="center-align">
        Mérőeszközök
    </h5>
    <div class="row">
        <div class="col s12 m6">
            <div class="chartContainer" id="graphAverage-box-1">&nbsp;</div>
        </div>
        <div class="col s12 m6">
            <div class="chartContainer" id="graphAverage-box-2">&nbsp;</div>
        </div>
        <div class="col s12 m6">
            <div class="chartContainer" id="graphAverage-box-3">&nbsp;</div>
        </div>
        <div class="col s12 m6">
            <div class="chartContainer" id="graphAverage-box-4">&nbsp;</div>
        </div>
    </div>

    <div class="divider"></div>
    <h5 class="center-align">
        Önkéntes adatszolgáltatók
    </h5>
    <div class="row">
        <div class="col s12">
            <div class="chartContainer" id="graphAverage-voluntary-01">&nbsp;</div>
        </div>
    </div>

    <div class="divider"></div>

</div> <!-- end l-content -->

