---
layout: default
---
<div class="container">
    <div class="section">
        <h5 class="center-align">
            PM10 és PM2.5 szálló por koncentráció
        </h5>
        {% include buttons.html %}
    </div> <!-- end pricing-tables -->

    <div class="divider"></div>
    <h5 class="center-align">
        Területi összevetés
    </h5>
    <div class="section">
        <div class="row">
            <div class="col s12 m6">
                <div class="chartContainer" id="graphAverage-all-25">&nbsp;</div>
            </div>
            <div class="col s12 m6">
                <div class="chartContainer" id="graphAverage-all-10">&nbsp;</div>
            </div>
        </div>
    </div>

    <div class="divider"></div>
    <h5 class="center-align">
        Mérőeszközök
    </h5>
    <div class="row">
        <div class="col s12 m6">
            <div class="chartContainer" id="graphAverage-box-1">&nbsp;</div>
        </div>
        <div class="col s12 m6">
            <div class="chartContainer" id="graphAverage-box-2">&nbsp;</div>
        </div>
        <div class="col s12 m6">
            <div class="chartContainer" id="graphAverage-box-3">&nbsp;</div>
        </div>
        <div class="col s12 m6">
            <div class="chartContainer" id="graphAverage-box-4">&nbsp;</div>
        </div>
    </div>

    <div class="divider"></div>
    <h5 class="center-align">
        Önkéntes adatszolgáltatók
    </h5>
    <div class="row">
        <div class="col s12">
            <div class="chartContainer" id="graphAverage-voluntary-01">&nbsp;</div>
        </div>
    </div>

    <div class="divider"></div>
    <h5 class="center-align">
        Térkép (hamarosan)
    </h5>
    <div class="row">
        <div class="col s12">
            {% include map.html %}
        </div>
    </div>
    
</div> <!-- end l-content -->

