<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMARTonvásár szálló por</title>
    <link rel="stylesheet" href="{{ 'assets/css/styles.css'|relative_url }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% include ga.html %}
</head>
<body>
<nav>
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo">SMARTonvásár</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://github.com/smartonvasar">GitHub</a></li>
            <li><a href="https://www.facebook.com/smartonvasar">Facebook</a></li>
            <li>
                <a href="https://iotguru.cloud"><img src="https://iotguru.cloud/images/powered-by-logo.png"
                                                     style="height:25px;"></a>
            </li>
        </ul>
    </div>
</nav>

<div class="banner">
    <h1 class="banner-head">
        Szálló por koncentráció Martonvásáron
    </h1>
</div>

  {{ content }}

</body>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="{{ 'assets/js/highcharts.js' | relative_url }}"></script>
</html>
